.container .breadcrumb {
    margin-top: 100px;
}

.max-width {
    width: 100%;
}


/* product styles */
.product-item {
    margin-top: 10px;
}

.product-item .prod-name {
    padding: 10px;
    text-align: center;
    color: unset;
    font-size: 16pt;
}